
<style type="text/css">

[v-cloak] {
  display: none;
}

.navbar-fixed {
  height: 40px;
}

nav {
  height: 35px;
  line-height: 35px;
}

nav .nav-wrapper .main-title {
  font-weight: 500;
  margin-left: 15px;
  margin-right: 25px;
}

nav .nav-wrapper .nav-left {
  margin-left: 5px;
}

nav .right {
  margin-right: 15px;
}


.container {
  width: 100% !important;
  padding-left: 15px;
  padding-right: 25px;
}

.row {
  margin-bottom: 15px;
}

.card .card-title {
  font-size: 13px !important;
  font-weight: 300;
  padding-left: 10px;
}

.card .card-content {
  padding: 5px;
}


table.attributes td {
  font-family: monospace;
  font-size: 0.9rem;
  padding: 3px;
}

.model-summary {
  font-family: monospace;
  font-size: 0.9rem;
  margin-left: 5px;
}

@media only screen and (max-width: 992px) {
table.attributes td {
  font-size: 0.7rem;
}
.model-summary {
  font-size: 0.7rem;
}
}

table.attributes td .material-icons {
  font-family: 'Material Icons';
  font-style: normal;
}

table.attributes td .badge {
  font-family: Roboto;
  color: #fff;
  min-width: 2rem;
  border-radius: 2px;
}

table.attributes td + td {
  text-align: right;
}

table.attributes tbody tr:last-child {
  border-bottom: none;
}

.c3 {
  width: 99%;
}

.c3 svg {
  font-family: "Roboto";
  font-weight: 400;
  height: 225px;
}


</style>



<!-- VueJS Components -->

<script type="text/x-template" id="navbar-template">
<div class="navbar-fixed">
<nav class="orange darken-3">
  <div class="nav-wrapper">
    <span class="left main-title hide-on-small-only">### title ###</span>
    <ul class="left">
      <li class="active"><a href="">Summary</a></li>
      <li><a href="badges.html">Code</a></li>
      <li><a href="collapsible.html">TensorBoard</a></li>
    </ul>
    <span class="nav-left"><slot name="left"></slot></span>
    <div class="right">
    <span class="nav-right"><slot name="right"></slot></span>
    </div>
  </div>
</nav>
</div>
</script>
<script type="application/javascript">
Vue.component('navbar', {
  props: ['title'],
  template: '#navbar-template',
  delimiters: ["###","###"]
})
</script>

<script type="text/x-template" id="card-template">
<div class="card">
<div class="card-title grey lighten-4 grey-text text-darken-2">### caption ###</div>
<div class="card-content">
<slot></slot>
</div>
</div>
</script>
<script type="application/javascript">
Vue.component('card', {
  props: ['caption'],
  template: '#card-template',
  delimiters: ["###","###"]
})
</script>

<script type="text/x-template" id="property-card-template">
<card v-bind:caption="caption">
<table class="bordered attributes">
<tbody>
<tr v-for="(value, key) in data">
<td>### key ###</td>
<td>### value ###</td>
</tr>
</tbody>
</table>
</card>
</script>
<script type="application/javascript">
Vue.component('property-card', {
  props: ['caption', 'data'],
  template: '#property-card-template',
  delimiters: ["###","###"]
})
</script>


