
<style type="text/css">

[v-cloak] {
  display: none;
}

.navbar-fixed {
  height: 40px;
}

nav {
  height: 35px;
  line-height: 35px;
}

nav .nav-wrapper .main-title {
  margin-left: 15px;
}

nav .nav-wrapper .nav-left {
  margin-left: 5px;
}

nav .right {
  margin-right: 15px;
}


.container {
  width: 100% !important;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-bottom: 15px;
}

@media only screen and (min-width: 993px) {
.row .col:last-child {
  padding-right: 0.2rem;
}
}

.card .card-title {
  font-size: 13px !important;
  font-weight: 300;
  padding-left: 10px;
}

.card .card-content {
  padding: 5px;
}


table.attributes td {
  font-family: monospace;
  font-size: 0.9rem;
  padding: 3px;
}

.model-summary {
  font-family: monospace;
  font-size: 0.9rem;
  margin-left: 5px;
}

@media only screen and (max-width: 992px) {
table.attributes td {
  font-size: 0.7rem;
}
.model-summary {
  font-size: 0.7rem;
}
}

table.attributes td .material-icons {
  font-family: 'Material Icons';
  font-style: normal;
}

table.attributes td .badge {
  font-family: Roboto;
  color: #fff;
  min-width: 2rem;
  border-radius: 2px;
}

table.attributes td + td {
  text-align: right;
}

table.attributes tbody tr:last-child {
  border-bottom: none;
}

.c3 {
  width: 99%;
}

.c3 svg {
  font-family: "Roboto";
  font-weight: 400;
  height: 225px;
}


</style>
