<!DOCTYPE html>

<html lang="en">
<head>
<title>Compare Runs</title>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

{{{ jquery }}}

{{{ materialize }}}

{{{ material_icons }}}

{{{ vue_js }}}

{{{ c3 }}}

{{{ metrics_charts }}}

{{{ highlight_js }}}

{{{ diff2html }}}

{{{ dashboard }}}

<style type="text/css">

#compare-code {
  margin-top: 15px;
}

@media only screen and (min-width: 601px) {
.row .col:last-child {
  padding-left: 0.2rem;
}
}
</style>

</head>

<body>

<div v-cloak id="vue-app">

<navbar title="Compare Runs">
  <span slot="right">### run_a.run_dir ###&nbsp;&nbsp;&nbsp;### run_b.run_dir ###</span>
</navbar>

<div class="container">

<side-by-side-property-cards
  caption="Attributes"
  v-bind:props_a="run_a.attributes"
  v-bind:props_b="run_b.attributes">
</side-by-side-property-cards>

<side-by-side-property-cards
  caption="Metrics"
  v-bind:props_a="run_a.metrics"
  v-bind:props_b="run_b.metrics">
</side-by-side-property-cards>

<side-by-side-property-cards
  caption="Evaluation"
  v-bind:props_a="run_a.evaluation"
  v-bind:props_b="run_b.evaluation">
</side-by-side-property-cards>


<code-diff
  filename="FLAGS"
  v-bind:code_a="run_a.flags_yaml"
  v-bind:code_b="run_b.flags_yaml">
</code-diff>

<div id="compare-code">
</div>

<script type="application/javascript">

$(document).ready(function() {
  var patch1 = JsDiff.createPatch('foo.txt', 'function() 4L + 0.2', 'function() 5L + 0.4', '', '');
  var patch2 = JsDiff.createPatch('bar.txt', 'function() 4L + 0.2', 'function() 5L + 0.4', '', '');
  var patch3 = JsDiff.createPatch('added.txt', '', 'function() 5L + 0.4', '', '');
  var patch4 = JsDiff.createPatch('removed.txt', 'function() 5L + 0.4', '', '', '');


  var diff2htmlUi = new Diff2HtmlUI({diff: patch1 + '\n' + patch2 + '\n' + patch3 + '\n' + patch4});
  diff2htmlUi.draw('#compare-code', {inputFormat: 'diff', outputFormat: 'line-by-line', showFiles: false, matching: 'words'});
  diff2htmlUi.highlightCode('#compare-code');
  diff2htmlUi.fileListCloseable('#compare-code', false);
});

</script>


</div> <!-- /container -->

</div> <!-- /app -->

<script type="application/json" id="app-data">{{{ data }}}</script>

<script type="application/javascript">

// load app json
var app_data_json = document.getElementById('app-data').innerHTML;
var app_data = JSON.parse(app_data_json);

// initialize app
var app = new Vue({
  el: '#vue-app',
  data: app_data,
  delimiters: ["###","###"]
});

</script>

</body>

</html>


