<!DOCTYPE html>

<html lang="en">
<head>
<title>Compare Runs</title>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

{{{ jquery }}}

{{{ roboto }}}

{{{ material_icons }}}

{{{ materialize }}}

{{{ vue_js }}}

{{{ c3 }}}

{{{ metrics_charts }}}

{{{ highlight_js }}}

{{{ diff2html }}}

{{{ dashboard }}}

<style type="text/css">
@media only screen and (min-width: 601px) {
.row .col:last-child {
  padding-left: 0.2rem;
}
}
</style>

</head>

<body>

<div v-cloak id="vue-app">

<navbar title="Compare Runs">
  <span slot="right">### run_a.run_dir ###&nbsp;&nbsp;&nbsp;### run_b.run_dir ###</span>
</navbar>

<div class="container">

<div class="row">

<div class="col s12 m6">

<card caption="Run A">

<div style="min-height: 150px;"></div>

</card>

</div> <!-- /col -->

<div class="col s12 m6">

<card caption="Run B">

<div style="min-height: 150px;"></div>

</card>

</div> <!-- /col -->

</div> <!-- /row -->

<div>

<div id="diff">
</div>

<script type="application/javascript">

$(document).ready(function() {
  var patch1 = JsDiff.createPatch('foo.txt', 'function() 4L + 0.2', 'function() 5L + 0.4', '', '');
  var patch2 = JsDiff.createPatch('bar.txt', 'function() 4L + 0.2', 'function() 5L + 0.4', '', '');
  var patch3 = JsDiff.createPatch('added.txt', '', 'function() 5L + 0.4', '', '');
  //var patch4 = JsDiff.createPatch('removed.txt', function() 5L + 0.4', '', '', '');
  var patch4 = '';
  var diff2htmlUi = new Diff2HtmlUI({diff: patch1 + '\n' + patch2 + '\n' + patch3 + '\n' + patch4});
  diff2htmlUi.draw('#diff', {inputFormat: 'diff', showFiles: true, matching: 'lines'});
  diff2htmlUi.highlightCode('#diff');
  diff2htmlUi.fileListCloseable('#diff', false);
});

</script>

</div> <!-- /row -->

</div> <!-- /container -->

</div> <!-- /app -->

<script type="application/json" id="app-data">{{{ data }}}</script>

<script type="application/javascript">

// load app json
var app_data_json = document.getElementById('app-data').innerHTML;
var app_data = JSON.parse(app_data_json);

// initialize app
var app = new Vue({
  el: '#vue-app',
  data: app_data,
  delimiters: ["###","###"]
});

</script>

</body>

</html>


