<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<meta content='width=device-width' name='viewport'>

{{{ jquery }}}

{{{c3}}}

{{{metrics_charts}}}

<script type="application/json" id="metrics">{{{metrics_json}}}</script>

<style type="text/css">
body {
  background-color: white;
}

#c3-container {
  height: 97vh;
}

.c3 {
  width: 99%;
  font-family: "Lucida Sans", "DejaVu Sans", "Lucida Grande", "Segoe UI", Verdana, Helvetica, sans-serif;
}
</style>


</head>

<body>

<div id="c3-container"></div>

<script type="text/javascript">

// get the container
var container = document.getElementById("c3-container");

// get the metrics json and parse it
var metricsJson = document.getElementById('metrics').innerHTML;
var metrics = JSON.parse(metricsJson);

// initialize
new MetricsCharts(container, metrics, "metrics.json", true);

</script>

</body>
</html>
